form {
  padding: 9px;
  text-align: center;
}

#glogo {
  display: block;
  margin: 156px auto auto auto;
}

#fcontent {
  position: relative;
  padding: 10px 202px 15px 201px;
  border-style: solid;
  border-radius: 100px;
  border-color:#e4e5e9;

}

#sicon {
  height: 25px;
  width: 25px;
  position:absolute;
  left: 460px;
  right: auto; 
  top: 283px;
}

#micon {
  height: 34px;
  width: 34px;
  position:absolute;
  left: auto;
  right: 461px; 
  top: 280px;
}

#button1 {
  background-color: #f4f4f4;
  color: #676b70;
  width: 127px;
  height: 37px;
  position: relative;
  right: 10px;
  top: 31px;
  padding: 10px 15px 17px 15px;
  border: 0px solid rgb(243, 243, 243);
  border-radius: 3px;
  font-size: 14px;
}

#button2 {
  background-color: #f4f4f4;
  color: #676b70;
  width: 145px;
  height: 37px;
  position: relative;
  right: 4px;
  top: 31px;
  padding: 8px 15px 8px 15px;
  border: 0px solid rgb(243, 243, 243);
  border-radius: 3px;
  font-size: 14px;
}